<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>OfficeManagment</display-name>
  <welcome-file-list>
    <welcome-file>BhanuLogIn.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.bhanu.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>BhanuSessionCheckerAjax</servlet-name>
    <servlet-class>com.bhanu.servlet.BhanuSessionCheckerAjax</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BhanuSessionCheckerAjax</servlet-name>
    <url-pattern>/BhanuSessionCheckerAjax</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>BhanuRegistration</servlet-name>
    <servlet-class>com.bhanu.servlet.BhanuRegistration</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BhanuRegistration</servlet-name>
    <url-pattern>/BhanuRegistration</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ServiceSelectoreServlet</servlet-name>
    <servlet-class>com.bhanu.servlet.ServiceSelectoreServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServiceSelectoreServlet</servlet-name>
    <url-pattern>/ServiceSelectoreServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>TestServlet</servlet-name>
    <servlet-class>com.bhanu.servlet.TestServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TestServlet</servlet-name>
    <url-pattern>/test</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>VatformRegistration</servlet-name>
    <servlet-class>com.bhanu.servlet.VatformRegistration</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VatformRegistration</servlet-name>
    <url-pattern>/VatformRegistration</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CstformRegistration</servlet-name>
    <servlet-class>com.bhanu.servlet.CstFormServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CstformRegistration</servlet-name>
    <url-pattern>/CstformRegistration</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PTECFormRegistration</servlet-name>
    <servlet-class>com.bhanu.servlet.PTECFormServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PTECFormRegistration</servlet-name>
    <url-pattern>/PTECFormRegistration</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PTRCFormRegistration</servlet-name>
    <servlet-class>com.bhanu.servlet.PTRCFormServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PTRCFormRegistration</servlet-name>
    <url-pattern>/PTRCFormRegistration</url-pattern>
  </servlet-mapping>
</web-app>